{% extends 'bookmark/base.html' %}
{%load newfilters%}
{% block title %}{{ category_name }}{% endblock %}
{%block body_block%}
<!DOCTYPE html>
<html>
    <head>
        <title>Bookmark</title>
    </head>
    <body>
      <h2>Categories</h2>
        {% if user.is_authenticated %}
            {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}
                    <!-- Following line changed to add an HTML hyperlink -->
                    <a class="list-group-item" href="/bookmark/category/{{ category.url }}">{{ category.name }}</a>
                    {% endfor %}
                </ul>
             {% else %}
                  <strong>There are no categories present.</strong>
             {% endif %}
        {% else %}
      <strong>Login and join in the fun!</strong>
        {% endif %}

               
        
    </body>
</html>
{%endblock%}