{% extends 'bookmark/base.html' %}
{%load newfilters%}
{% block title %}{{ category_name }}{% endblock %}
{%block body_block%}
<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Bookmark</title>
    </head>

    <body>
        <h1>Login to Bookmark</h1>
        <form id="login_form" method="post" action="/bookmark/login/">
						<div class="input-group">
								{% csrf_token %}
								Username: <input type="text" name="username" value="" size="50" class="form-control" placeholder="Username"/>
								<br />
								Password:  <input type="password" name="password" value="" size="50" class="form-control" placeholder="Password"/>
								<br />
						</div>
					  <br />
            <button class="btn btn-warning" type="submit" name="submit">Log In</button>
        </form>
    </body>
</html>
{%endblock%}
